*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background: url(./svg/backzin.jpg) no-repeat center;
    position: fixed;
}

.name{
    font-family:Arial, Helvetica, sans-serif;
}

.fundo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora{
    
    background-color: rgba(250, 246, 246, 0.8);
    border-radius: 15px;
    padding:15px;
    text-align: center;

}


.name{
    color: white;
    font-size: 25px;
    display: inline;
    
}

.igual{
    height: 106px;
}

.dif{
    width: 106px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color:white;
}

.botao:hover{
    background-color: rgb(112, 16, 35);
}

#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;

}

.igual{
    height: 106px;
}

.dif{
    width: 106px;
}